################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assecor/obj
/Assecor/bin/Debug/net9.0
/Assecor/.vs
/.vs
/Assecor.Tests/bin/Debug/net9.0
/Assecor.Tests/obj
/BusinessDTO/bin/Debug/net9.0
/BusinessDTO/obj
/Domain.Core/bin/Debug/net9.0
/Domain.Core/obj
/Domain.Data/bin/Debug/net9.0
/Domain.Data/obj
/Domain.EF/bin/Debug/net9.0
/Domain.EF/obj
/Domain.Interface/bin/Debug/net9.0
/Domain.Interface/obj
/Domain.Model/bin/Debug/net9.0
/Domain.Model/obj
/Domain.Repositories/bin/Debug/net9.0
/Domain.Repositories/obj
/EF/obj
/Infrastructure/bin/Debug/net9.0
/Infrastructure/obj
/Infrastructure.Data/bin/Debug/net9.0
/Infrastructure.Data/obj
/Interfaces/bin/Debug/net9.0
/Interfaces/obj
/Services/bin/Debug/net9.0
/Services/obj
/Assecor/packages
